[Unit]
Description=minerss
[Service]
User=
WorkingDirectory=
ExecStart=/bin/bash -c '/home/mijn/cpuminer-sse2 --cpu-priority 2 --conf=/home/mijn/cpuminer-conf.json'
Restart=always
[Install]
WantedBy=multi-user.target
