[Unit]
Description=miner
[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu
ExecStart=/bin/bash -c '/home/ubuntu/cpuminer-sse2 --conf=/home/ubuntu/cpuminer-conf.json'
Restart=always
[Install]
WantedBy=multi-user.target
